{% extends 'base.html' %} 
 {% block title %} 
contact
 {% endblock %} 
 {% block content %} 
 <div>
    <h1>𝙳𝙴𝚅𝙴𝙻𝙾𝙿𝙴𝚁𝚂  <i class="bi bi-coin"></i></h1>
 </div>
  <div class="par">

<div class="child">
 <div class="pic"><p>o</p></div>
 <h5>Noel Biju John</h5>
 <h6>Auction manager</h6>
 <i class="bi bi-twitter"></i>      <i class="bi bi-instagram"></i>
</div>

<div class="child">
    <div class="pic"><p>o</p> </div>
    <h5>Pranav P</h5>
 <h6>Administrator</h6>
 <i class="bi bi-twitter"></i>      <i class="bi bi-instagram"></i>
</div>

<div class="child">
    <div class="pic"><p>o</p></div>
    <h5>Lekshmi S</h5>
 <h6>Financial manager</h6>
 <i class="bi bi-twitter"></i>       <i class="bi bi-instagram"></i>
</div>

<div class="child">
    <div class="pic"><p>o</p></div>
    <h5>Nila Udayakumar</h5>
    <h6>Auctioneer</h6>
    <i class="bi bi-twitter"></i>           <i class="bi bi-instagram"></i>
</div>

  </div>
<div class="image">
    <div class="imgg1"><img src="static/img/nilapig.png" alt="pranav" class="im"> </div>
<div class="imgg2"><img src="static/img/mepig.png" alt="pranav" class="ima"> </div>
<div class="imgg3"><img src="static/img/lekshmipig.png" alt="pranav" class="im"> </div>
<div class="imgg4"><img src="static/img/noelpig.png" alt="pranav" class="im"> </div>


</div>
  <style>
    h1{
        position: absolute;
        margin-top: -12%;
        margin-left: 40%;
    }
.par{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 40px;
}
.child{
    
    width: 200px;
    height: 300px;
    text-align: center;
}

.pic{
    
    width: 200px;
    height: 200px;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid white;
}
/* .image{

    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: -420px;
    margin-left: 70px;
    
   
   
} */
.im{
    height: 300px;
    width: 250px;
}
.ima{
    height: 370px;
    width: 300px;
}
.imgg1{
    position: absolute;
    margin-top: -34%;
    margin-left: 5.5%;
}
.imgg2{
    position: absolute;
    margin-top: -37%;
    margin-left: 26%;

}
.imgg3{
    position: absolute;
    margin-top: -34%;
    margin-left: 51.5%;

}
.imgg4{
    position: absolute;
    margin-top: -33%;
    margin-left: 75%;

}
  </style>
  {% endblock %}