{% load static %}
<!DOCTYPE html>
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>LOGIN</title>
     <link rel="icon"  type="x-icon"  href="#">
     <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}?{% now "U" %}">
    </head>

 <body>
    <video autoplay loop muted>
        <source src="https://cdn.pixabay.com/video/2021/12/25/102436-660253854_large.mp4" type="video/mp4">
      </video>
  
     <div class="box">
         <form method="POST" action="#">
            {% csrf_token %}
             <h2>SIGN-IN</h2>
             <div class="input-field">
               
                <input type="text" id="username" name="username" class="email" autocomplete="username"  required>
                 <!-- <label>Enter email</label> -->
             </div>
             <div class="input-field">
                <input type="password" id="password" name="password" autocomplete="current-password" required>
                 <!-- <label>Enter password</label> -->
             </div>
             <div class="forgot">
                 <label for="Save-login">
                     <input type="checkbox" id="Save-login">
                     <p>Save login</p>
                 </label>
                 <a href="{% url 'reset_password' %}">Forgot password?</a>
             </div>
             <button type="submit">login</button>

             <div class="error"> 
                {% for message in messages %} 
                <p id="message"> 
                  {{ message }} 
                </p> 
                {% endfor %} 
                </div> 
              <div class="Create-account">
                 <p>Don't have an account? <a href="{% url 'register' %}">Create account</a></p>
              </div>
              
         </form>
      </div>


    </body>
</html>
<!-- <!DOCTYPE html>
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>LOGIN</title>
     <link rel="icon"  type="x-icon"  href="#">
     <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    </head>

 <body>

    <div class="bg"></div>
     <div class="container">
        <div class="content">
            <h2 class="logo">Auction</h2>
            <div class="text-sci">
                <h2>Welcome <br><span>to Auction</span></h2>
                <p>hello thanks for ur visit</p>
            </div>
        </div>


        <div class="logreg-box">

             Login -->
            <!-- <div class="form_box login">
             <form method="POST" action="">
                {% csrf_token %}
                <h2> Log In</h2>


                <div class="input-box">
                    <span class="icon"> </span>
                        <input type="text" placeholder="Username"> -->
                       
                        <!-- <input type="text" id="username" name="username" class="email" autocomplete="username" required>
                   
                </div>

                <div class="input-box">
                    <span class="icon"> </span> -->
                        <!-- <input type="password" placeholder="password" required > -->
                       
                        <!-- <input type="password" id="password" name="password" autocomplete="current-password" required>

                   
                </div>
                <div class="remember-forgot">
                    <label ><input type="checkbox">Remember Me</label>
                    <a href="{% url 'reset_password' %}">Forgot Password</a>
                </div>
               
                <button type="submit" class="btn">login</button>


                <div class="login-register">
                    <p>Don't have an account? <a href="{% url 'register' %}" class="register-link">Create account</a></p>
                </div>
                </form>
            </div> 
          -->


     <!-- <script src="login2.js"></script> -->
     <!-- <script>
        loginLink.addEventListener('click',() => {
    logregBox.classList.remove('active');
});


email.forEach((mail,i)=>{
    mail.addEventListener('blur',() =>{
        if(mail.value!=''){
            text[i].classList.add('active');
        }
        else{
            text[i].classList.remove('active');
        }
    })
})
     </script> -->
    <!-- </body>
</html> -->