<!-- <!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
</head>
<body>

<div class="bg"></div>
<div class="container">
    <div class="content">
        <h2 class="logo"></h2>
        <div class="texts" style="margin-top: 30px;">
            <h2>𝕭𝖎𝖉 𝕱𝖔𝖗𝖒𝖚𝖑𝖆<br><br>Welcome <br>to Auction</h2>
            
        </div>
    </div>

    <div class="logreg-box">

        Registration-->
        <!-- <div class="form_box register">
            <form method="POST">
                {% csrf_token %}
                <h2> sign_up</h2>

              

                <div class="input-box">
                    <span class="icon"> </span>
                    {{ form.username.label }}
                    {{ form.username }}
                </div>

                <div class="input-box">
                    <span class="icon"> </span>
                    {{ form.email.label }}
                    {{ form.email }}
                </div>

                <div class="input-box">
                    <span class="icon"> </span>
                    {{ form.password1.label }}
                   {{ form.password1 }}
                </div>
                <div id="passwordMessage" style="color: red; display: none;">Password must be at least 8 characters long.</div>
                <div class="input-box">
                  <span class="icon"> </span>
                  {{ form.password2.label }}
                  {{ form.password2 }}
              </div>
                
                <div class="remember-forgot">
                    <label><input type="checkbox">I agree to the Terms & Conditions</label>
                </div>

                <button type="submit" class="btn">submit</button>

                <div class="error">
                    {{ form.errors }}
                </div>

                <div class="login-register">
                    <p>Already have an account? <a href="{% url 'login' %}" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html> --> 
  
<!DOCTYPE html> 
  
 <html lang="en" dir="ltr"> 
  
 <head> 
   <meta charset="UTF-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <title>Register Form </title> 
   <link rel="stylesheet" href="{% static '/css/reg.css' %}"> 
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> 
  
   <style> 
     .error{ 
       color: #ff0011; 
       font-size: 12px; 
     } 
   </style> 
  
 </head> 
 <body> 
    <video autoplay loop muted>
        <source src="https://cdn.pixabay.com/video/2021/12/25/102436-660253854_large.mp4" type="video/mp4">
      </video>
  
  
 <div class="box"> 
  <form method="POST"> 
 
     <h2>Sign Up</h2> 
         
           {% csrf_token %} 
             <div class="input-field"> 
                 
                 {{ form.username }} 
             </div> 
             <div class="input-field"> 
                      <!-- <i class="fas fa-envelope-square"></i>  -->
  
                 {{ form.email }} 
             </div> 
             <div class="input-field"> 
                 <!-- <i class="fas fa-key"></i>  -->
  
                 {{ form.password1 }} 
             </div> 
             <div id="div"> 
  
             </div> 
             <div id="passwordMessage" style="color: red; display: none;">Password must be at least 8 characters long.</div> 
             <div class="input-field"> 
                 <!-- <i class="fas fa-key"></i>  -->
  
                 {{ form.password2 }} 
             </div> 
              <button type="submit">sign_up</button>
                 <div class="error"> 
  
                      {{ form.errors }} 
                 </div> 
  
                                       <div class="signup-link">  
               <p> Already have an account ? <a href="{% url 'login' %}" class="ml-2">Login</a>  </p>
              </div> 
         </form> 
  </div> 
 </div> 
  
       </div> 
  
  
  
       <script> 
         /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript 
                 //We start indexing at one because CSRF_token is considered and input field 
                  */ 
  
         //Query All input fields 
         const divElement = document.getElementById('div'); 
  
         var form_fields = document.getElementsByTagName('input') 
         form_fields[1].placeholder = 'Username..'; 
         form_fields[2].placeholder = 'Email..'; 
         form_fields[3].placeholder = 'Enter password...'; 
         form_fields[4].placeholder = 'Re-enter Password...'; 
  
         for (var field in form_fields) { 
           form_fields[field].className += ' form-control' 
         } 
  
         const passwordInput = document.getElementById('id_password1'); 
 const messageElement = document.getElementById('message'); 
  
 passwordInput.addEventListener("focus", () => { 
  
   divElement.innerHTML = "Password must have at least 8 characters.<br> Password can't be entirely numeric.<br> Can't be too similar to personal information."; 
   divElement.style.color = "red"; 
   divElement.style.fontSize = "12px"; 
 }); 
       </script> 
     </body> 
   </html> 